body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 11in;
    margin: 0.5in;
    width: 8.5in;
}

@page {
    margin: 0;
}

.card.purple {
    background-color: #ece;
    color: purple;
}

.card.red {
    background-color: #ecc;
    color: #c00;
}

.card.yellow {
    background-color: #eec;
    color: #770;
}

.card.white {
    background-color: #eee;
    color: #333;
}